.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding-left: 20px; 
}

.nav-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  font-weight: bold; 
  letter-spacing: 1px;
}

.nav-link:hover {
  background-color: rgba(85, 85, 85, 0.5); 
}

.nav-right {
  position: absolute;
  right: 20px; 
  height: 60px;
}

.icon-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
}

.projects-text { 
  padding: 10px;
  font-size: 30px;
}

.main-content {
  padding-top: 60px;
}

.projects-container {
  background-color: #f5f5f5; 
  border-radius: 5px; 
  padding: 20px; 
  margin: 20px; 
  width: 100%; 
  max-width: 1500px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
}

.projects-text {
  margin-bottom: 20px; 
}

.text-and-btn-container {
  display: flex;
  justify-content: space-between;
}

.create-project-btn {
  background-color: #a885f5;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.create-project-btn:hover {
  background-color: #8f6dd9;
}

.project-item {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.project-item:hover {
  background-color: #ffffff;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-item h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-item h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.project-delete-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  color: red;
}

.project-delete-btn:hover {
  transform: scale(1.2);
}
