.tasks-and-btn-container {
  display: flex;
  margin-bottom: 5px;
}


.create-task-btn {
  background-color: #a885f5;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.create-task-btn:hover {
  background-color: #8f6dd9;
}

.project-page-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 20px;
  padding-top: 60px;
}

.tasks-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.project-details {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 25%;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

.tasks-and-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-task-form {
  position: absolute;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.create-task-form form {
  display: flex;
  flex-direction: column;
}

.create-task-form label {
  margin: 5px 0;
}

.create-task-form input,
.create-task-form select {
  margin-bottom: 10px;
}

.create-task-form button {
  margin-top: 10px;
}

.task-item {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.task-item:hover {
  background-color: #ffffff;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.task-item h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.task-item h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.btn-complete,
.btn-delete,
.btn-create-ticket {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
}

.btn-complete {
  color: green;
}

.btn-delete {
  color: red;
}

.btn-create-ticket {
  color: lightblue;
}

.btn-complete:hover,
.btn-delete:hover,
.btn-create-ticket:hover {
  transform: scale(1.2);
}

.task-buttons {
  margin-left: 5px;
}

.tickets-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.ticket-item {
  background-color: #f7f7f7;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  justify-content: space-between;
  align-items: center;
}

.ticket-item:hover {
  background-color: #ffffff;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.ticket-item h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ticket-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.ticket-item h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.tasks-and-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-ticket-form {
  position: absolute;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}